#omino_mistico {
    position: absolute;
    top: 75px;
    right: 20px;
    border: 0;
    opacity: 0.65;
}

.alert-message.error {
    width: 80%;
}

.alert-message.success {
    position: absolute;
    top: 15px;
    width: 40%;
    right: 30%;
    font-size: 18px;
}

body {
  padding-top: 60px;
}

.hero-unit {
/*	background: url('/images/pratodellavalle.jpg') 0px -80px; */
	background: url('/images/oldschool.jpg') 0px -230px;	
}

.hero-unit h1 {
	color: #FF0000;
}

.hero-unit p {
	color: #FF5555;
}