/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../app/stylesheets/screen.sass */
#omino_mistico {
  position: absolute;
  top: 75px;
  right: 20px;
  border: 0;
  opacity: 0.65;
}

/* line 17, ../../app/stylesheets/screen.sass */
.alert-message.error {
  width: 80%;
}

/* line 21, ../../app/stylesheets/screen.sass */
.alert-message.success {
  position: absolute;
  top: 15px;
  width: 40%;
  right: 30%;
  font-size: 18px;
}

/* line 29, ../../app/stylesheets/screen.sass */
body {
  padding-top: 60px;
}

/* line 34, ../../app/stylesheets/screen.sass */
.brand span {
  font-style: italic;
  color: red;
}

/* line 38, ../../app/stylesheets/screen.sass */
.hero-unit {
  background: url("/images/oldschool.jpg") 0px -230px;
}
/* line 44, ../../app/stylesheets/screen.sass */
.hero-unit h1 span, .hero-unit p span {
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 1em;
  color: white;
  padding: 2px;
}
/* line 51, ../../app/stylesheets/screen.sass */
.hero-unit h1 {
  margin-bottom: 9px;
}
/* line 54, ../../app/stylesheets/screen.sass */
.hero-unit p {
  line-height: 1.4em;
}

/* line 57, ../../app/stylesheets/screen.sass */
img.thumbnail {
  padding: 4px;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0px 0px 5px 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 64, ../../app/stylesheets/screen.sass */
.btn.small {
  padding: 4px 5px;
}

/* line 68, ../../app/stylesheets/screen.sass */
.big {
  font-size: 200%;
}

/* line 72, ../../app/stylesheets/screen.sass */
h2.fee {
  margin-top: 18px;
  padding: 5px;
  padding-left: 50px;
  background: url(/images/tag.png) no-repeat;
}

/* line 79, ../../app/stylesheets/screen.sass */
.row {
  margin-bottom: 18px;
}
