.content

  .page-header
    %h1 
      I Corsi
      %small &ndash; perch&eacute; due gusti sono meglio di uno
      
  .row
    .span16
      %h2 Iscrizione
      %p 
        Abbiamo attivato due classi, cui potete registrarvi mandando una mail all&#39;indirizzo
        %a{:href=>"mailto:takemyseat@rails4rumble.it"}takemyseat@rails4rumble.it
      %p
        Se ci fosse bisogno di farlo notare, le quote non si avvicinano neanche lontanamente al valore del corso!
        Questo rende l&#39;occasione ancora pi&ugrave; ghiotta, non fartevela scappare.
      %p
        Il docente del corso sar&agrave;&nbsp;
        %a{:href=>"http://www.linkedin.com/in/michelefranzin"}> Michele Franzin
        \. Questo significa che siete davvero fortunati, fidatevi ;)
        
      %p 
        Gli argomenti sono tanti, e per non perdere tempo &egrave; meglio se arrivate con il portatile gi&agrave; pronto: a tale scopo abbiamo scritto 
        = link_to "una breve guida", faq_path 
        su cosa vi serve.
      
    .span16
      %hr/
      %h2 Class Base
      %p Questo corso copre le caratteristiche base di Rails, &egrave; consigliato per chi non ha mai utilizzato il framework.
      .row
        .span11 
          %h3 Programma
          
          %ol
            %li
              Hello world!
              %br
              Ruby: Stringhe, Classi e Oggetti
            %li Scaffolding
            %li
              Personalizziamo l'applicazione
              %br
              Accediamo dalla console
              %br
              Ruby: Array, Hash, ActiveRecord
            %li
              Relazioni tra tabelle
              %br
              Ruby: Cicli
    
          %p 
            siete durati fino a met&agrave;, vi meritate di nutrirvi: 
            %b pausa pranzo!
              
          %ol{:start=>"5"}
            %li Validazione dei dati
            %li Gestione del database: Migrazioni & Fixture
            %li
              Organizzazione del frontend: Parziali & Helper
              %br
              Ruby: Date
            %li
              Struttura della viste: Layouts & Navigazione

    
        .span5
          %h2 
            dalle 8.30 alle 18.00
            %br/
            %span.big Sabato 12
            %br/
            Novembre 2011
            
          %h2.fee &euro; 50 
          %hr/
          %p
            Iscriviti inviando una email a
            %a{:href=>'mailto:takemyseat@rails4rumble.it?subject=base'} takemyseat@rails4rumble.it

    .span16  
      %hr/
      %h2 Class Intermediate
      %p Questo corso tratta di argomenti più avanzati, &egrave; consigliato per chi ha gi&agrave; una conoscenza basilare di Rails.
      .row
        .span11  
          %h3 Programma
          %ol
            %li Ripasso delle nozioni del corso base
            %li Organizzazione del frontend: Layout, Parziali & Helper
            %li
              Il routing delle richieste alla nostra applicazione
              %br
              L'architettura REST
              %br
              Gli helper
            %li
              Associare uno stato alle richieste HTTP: le sessioni
              %br
              I filtri sulle azioni dei controller
            %li
              Creare un sistema di autenticazione
    
          %p 
            anche i più duri hanno bisogno della&hellip; 
            %b pausa pranzo!
          
          %ol{:start=>"5"}
            %li Utilizzare AJAX per rendere dinamiche componenti interne della pagina
            %li Parliamo di frontend: Sass, Haml & CoffeeScript
            %li Creazione di test automatici per la verifica e il debug
    
        .span5
          %h2 
            dalle 8.30 alle 18.00
            %br/
            %span.big Sabato 19
            %br/
            Novembre 2011
            
          %h2.fee &euro; 80          
          %hr/
          %p
            Iscriviti inviando una email a
            %a{:href=>'mailto:takemyseat@rails4rumble.it?subject=intermediate'} takemyseat@rails4rumble.it

    .span16  
      %hr/
      %h2 Bundle Base + Intermediate
      %p Parti da zero ma vuoi diventare un pro? Ci piacciono le persone come te!
      .row
        .span11 
          %h3 Programma
          %p Il bundle include sia il programma base che il programma intermediate. Con DUE pause pranzo! :)
        .span5
          %h2 
            dalle 8.30 alle 18.00
            %br/
            %span.big Sab 12 e 19
            %br/
            Novembre 2011
            
          %h2.fee &euro; 100        
          %hr/
          %p
            Iscriviti inviando una email a
            %a{:href=>'mailto:takemyseat@rails4rumble.it?subject=bundle'} takemyseat@rails4rumble.it