<div class="content">
  <div class="page-header">
    <h1>Programm(i)<small> perchè due gusti è meglio di uno</small></h1>
  </div>
  <div class="row">
    <div class="span10">
		  <h2>Corso base</h2>
			<p>
				Questo corso copre le caratteristiche base di Rails, è consigliato per chi non ha mai utilizzato il framework.
			</p>
			<h3>Programma</h3>
			<ol style="margin-bottom:5px">
				<li>Hello world! - Ruby: String, Classi e Oggetti</li>
				<li>Scaffolding</li>
				<li>Personalizziamo l'applicazione, Console - Ruby: Array, Hash, ActiveRecord</li>
				<li>Relazioni tra tabelle - Ruby: Cicli</li>
			</ol>
				<span style="font-style:italic">siete durati fino a metà, vi meritate di nutrirvi: <b>pausa pranzo!</b></span>
			<ol start="5" style="margin-top:5px">
				<li>Validazione dati</li>
				<li>Migrations & Fixtures</li>
				<li>Partials & Helpers - Ruby: Date</li>
				<li>Layouts & Navigazione</li>
			</ol>
		  <h2 style="margin-top: 50px">Corso intermediate</h2>
			<p>Questo corso tratta di argomenti più avanzati, è consigliato per chi ha già una conoscenza basilare di Rails.</p>
			<h3>Programma</h3>
			<ol style="margin-bottom:5px">
				<li>Ripasso delle nozioni del corso base</li>
				<li>REST & routes & helper</li>
				<li>sessioni e filtri</li>
				<li>autenticazione</li>
			</ol>
				<span style="font-style:italic">anche i più duri hanno bisogno della... <b>pausa pranzo!</b> :)</span	>
			<ol start="5" style="margin-top:5px">
				<li>ajax</li>
				<li>sass haml coffeescript</li>
				<li>testing</li>
				<li>emails</li>
			</ol>			
    </div>
    <div class="aside" style="text-align: center">
      <h2>dalle 8.30 alle 18.00<br />
			<span style="font-size:200%">Sabato 12</span><br />
			Novembre 2011
			</h2>
    </div>

    <div class="aside" style="text-align: center; margin-top: 250px">
      <h2>dalle 8.30 alle 18.00<br />
			<span style="font-size:200%">Sabato 19</span><br />
			Novembre 2011
			</h2>
    </div>
  </div>
</div>