<div class="content">
  <div class="page-header">
    <h1>Programm(i)<small> perchè due gusti è meglio di uno</small></h1>
  </div>
  <div class="row">
    <div class="span10">
		  <h2>Corso base</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		  <h2 style="margin-top: 50px">Corso intermediate</h2>
    </div>
    <div class="aside" style="text-align: center">
      <h2>dalle 8.30 alle 18.30<br />
			<span style="font-size:200%">Sabato 12</span><br />
			Novembre 2011
			</h2>
    </div>

    <div class="aside" style="text-align: center; margin-top: 100px">
      <h2>dalle 8.30 alle 18.30<br />
			<span style="font-size:200%">Sabato 19</span><br />
			Novembre 2011
			</h2>
    </div>
  </div>
</div>