.content
  .page-header
    %h1
      FAQs
      %small Frequently Asked Questions
  .row
    .span16
      %h2 Q: Cosa devo preparare prima del corso?
      %p 
        %b A:
        Ecco la checklist dei requisiti per il corso. A parte Ruby, i link sono solo dei suggerimenti, l&#39;importante &egrave; che abbiate degli strumenti con cui siete a vostro agio e magari avete gi&agrave; utilizzato. Per qualsiasi problema, pingateci a 
        %a{:href=>"mailto:hello@rails4rumble.it"} hello@rails4rumble.it 

      %ol
        %li 
          Un computer portatile, con connessione a internet funzionante
          %a.label.notice{:href=>"http://store.apple.com/it/browse/home/shop_mac/family/macbook_air"} web
        %li 
          Ruby installato (una versione qualsiasi) 
          %a.label.notice{:href=>"http://ruby-lang.org/"} web 
        %li 
          Un database di vostra scelta, con interfaccia grafica di amministrazione (es: mysql, postgres, sqlite&hellip;)
          %a.label.notice{:href=>"http://dev.mysql.com/downloads/mysql/"} mysql
          %a.label.notice{:href=>"http://dev.mysql.com/downloads/workbench/5.2.html"} mysql ui

        %li
          Un IDE a vostra scelta
          %a.label.notice{:href=>"http://www.jetbrains.com/ruby/"} rubymine
          
                    
    .span-one-third
      %h3 Mac
      %p Molti dei requisiti sono gi&agrave; soddisfatti. 
      %p Assicuratevi di installare
      %ul
        %li 
          MacPorts 
          %a.label.notice{:href=>"http://www.macports.org"} web
        %li 
          XCode (&egrave; un download pesante e serve!)
          
    .span-one-third.border     
      %h3 Windows
      %p La strada &egrave; un po&#39; meno in discesa, ma niente paura! Fate quello che potete, per qualsiasi problema contattate Michele e arrivate un po&#39; prima dell&#39;inizio del corso.      

    .span-one-third.border     
      %h3 GNU/Linux
      %p Ci aspettiamo che portiate le brioches ;)  
      
  .row  
    .span16
      %hr/    
    .span-one-third
      %h2 Q: Come si paga?
      %p
        %b A:
        Michele si occuper&agrave; di gestire il pagamento direttamente la mattina del corso. Potrete pagare in contanti o via Paypal. Serve fattura? Chiedete e vi sar&agrave; dato.                          