.content

  .page-header
    %h1 
      L&#39;Idea
      %small &ndash; ma come ci vengono certe trovate?
  
  .row
    .span16
      %h3 Ogni anno gli sviluppatori Rails di tutto il mondo si prendono un intero weekend di irreperibilità da mogli, clienti e famiglie. In piccoli gruppi si barricano in casa o in ufficio, qualcuno addirittura su una barca. In appena 48h e partendo da zero dovranno sviluppare e deployare una webapp completa durante la coding competition pi&ugrave; cool di tutte, il RailsRumble.
      
      %h3 Ogni anno a RailsRumble a stonare &egrave; il numero bassissimo di team italiani. 
      %h3 Quest&#39;anno dobbiamo cambiare le cose.
      
      %hr/
      %h3 Primo ingrediente: Un corso (aka sfornare orde di nuovi railsisti)
      %p 
        Per cominciare abbiamo organizzato un corso, anzi due: una classe base e una pi&ugrave; avanzata per portare  da zero al Rumble degli sviluppatori che non conoscano Rails o lo conoscano poco. 
        %br/ 
        I corsi sono intensivi e tenuti da un docente davvero in gamba, ma il tempo non &egrave; infinito: lo scopo delle lezioni &egrave; insegnare i fondamentali e fornire gli strumenti per approfondire autonomamente. Cercando al contempo di stimolare la curiosit&agrave;, la fantasia&hellip; e una gran voglia di sviluppare una webapp in 48h :)  
        
      %p= link_to raw("Il Corso"), courses_path, :class=>"btn"         
      %hr/
      %h3 Secondo ingrediente: Una loc&hellip;
      %p Stay tuned!