
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Hello, world!</h1>
  <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  <p><a class="btn primary large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Cos'è Rails4Rumble?</h2>
    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </div>
  <div class="span5">
    <h2>Corsi Proposti</h2>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="/courses">View details &raquo;</a></p>
 </div>
  <div class="span5">
    <h2>Location</h2>
    <p><b>La forma del libro</b><br />
	<a href="http://g.co/maps/p34hb">Via XX Settembre, 63 Padova</a>
	<img src="https://maps.googleapis.com/maps/api/staticmap?center=Via+XX+Settembre,+63+Padova&zoom=15&size=275x175&maptype=roadmap&markers=color:blue|label:Here|Via+XX+Settembre+63+Padova&sensor=false" &></p>
  </div>
</div>
