.hero-unit
  %h1 
    %span< 
      %span{style: "color: green"}def 
      RailsRumble
      \:lang=&gt; 
      %span{style: "color: red"}>"it"
      
  %p 
    %span 
      Vogliamo rendere il prossimo RailsRumble un po&#39; pi&ugrave; tricolore, e per questo ci serve 
      %br/ 
      che partecipi anche tu. Non conosci Rails? Non preoccuparti, abbiamo pensato anche a questo.
  %p
    %a.btn.primary.large{:href=>"/idea"} Learn more &raquo;

.row
    
    
  .span-one-third
    %h2 Rails4Rumble
    %p 
      Abbiamo ufficialmente invitato tutti i programmers-in-padua (e non solo!) a partecipare alla prossima edizione di RailsRumble, e tramite il corso 
      %b Rails4Rumble 
      ci assicureremo che anche coloro che non conoscono questo framework possano partecipare e divertirsi.
 
    %p= link_to raw("L&#39;Idea &raquo;"), idea_path, :class=>"btn small"    
     

  .span-one-third.border
    %h2 
      Il corso
      %span.label.important Almost Sold Out!
    %p
      Come prima cosa, abbiamo organizzato un corso su 
      %b RubyOnRails
      suddiviso in 2 classi,  
      %b base 
      e  
      %b intermediate      
      \.
      %br
      &Egrave; un&#39;occasione molto speciale per studiare una nuova (e richiestissima) tecnologia con l&#39;aiuto di un docente davvero in gamba. 
    %p= link_to raw("Iscriviti &raquo;"), courses_path, :class=>"btn small"   

  .span-one-third.border
    %h2 Dove? Quando?
    %p 
      Le lezioni del corso si terranno presso
    .address
      %p
        %b
          &ldquo;La forma del libro&rdquo;
      %p
        Via XX Settembre, 63 
        %br/
        Padova 
        %a.label.notice{:href=>"http://g.co/maps/p34hb", :target=>"_blank"} map 
    %p
      Il corso sar&agrave; molto pratico e intensivo: 8:30 - 18! Quindi preparatevi :)   


.row 
  .span-one-third  
    
    %img.thumbnail{:src=>"/images/locandina.jpeg", :style=>"background-color: #eee;"}
      
  

  .span-one-third
    %h2 Locandina!
    %p Scarica la locandina del corso, stampala e appendila in ufficio o dove fai lezione. 
    %p Un consiglio dagli esperti? Vicino alla macchinetta del caff&egrave; &egrave; il top.
    %p 
      %a.btn.success.small{:href=>"/images/rails4rumble.pdf", :target=>"_blank"} Download &dArr;      
      
  .span-one-third.border         
    %img.thumbnail{:src=>"https://maps.googleapis.com/maps/api/staticmap?center=Via+XX+Settembre,+63+Padova&zoom=15&size=275x198&maptype=roadmap&markers=color:blue|label:Here|Via+XX+Settembre+63+Padova&sensor=false"}/  
    
    
.row
  .span-one-third
    %h2 &ldquo;Requisiti di sistema&rdquo;
    %p Il corso &egrave; di 8h e ci stiamo appena con tutti gli argomenti che vogliamo mostrarvi, quindi &egrave; meglio arrivare preparati!
    %p Abbiamo preparato una breve checklist delle cose che vi servono, e saremo disponibili un po&#39; prima dell&#39;inizio del corso per i problemi pi&ugrave; ostici. 
    %p= link_to raw("Checklist &raquo;"), faq_path, :class=>"btn small"   
    
    
      
  .span-one-third.border        
    %img.thumbnail{:src=>"/images/railsrumble.jpg"}/     
    
  .span-one-third
    %h2 RailsRumble?!?
    %p 
      %b RailsRumble 
      %a.label.notice{:href=>'http://blog.railsrumble.com/', :target=>"_blank"} web
      &egrave; una coding competition di 48h durante la quale gruppi di sviluppatori di tutto il mondo si sfidano sviluppando e deployando da zero una webapp scritta in Ruby on Rails. Il tempo ti sembra troppo poco? 
      %a{:href=>'http://archive.railsrumble.com/', :target=>"_blank"}  Dai un&#39;occhiata qua!     