.hero-unit
  %h1 
    %span< 
      %span{style: "color: red"}def 
      RailsRumble
      %span{style: "font-size: 50%"}><
        (locale = 
        %span{style: "color: green"}><
          &nbsp;:it
        )
      
  %p 
    %span 
      Vogliamo rendere il prossimo RailsRumble un po&#39; pi&ugrave; tricolore, e per questo ci serve 
      %br/ 
      che partecipi anche tu. Non conosci Rails? Non preoccuparti, abbiamo pensato anche a questo.
  %p
    %a.btn.primary.large{:href=>"/idea"} Learn more &raquo;

.row
  .span5
    %h2 Cos&#39;&egrave; Rails4Rumble?
    %p 
      %b RailsRumble 
      &egrave; una coding competition di 48h durante la quale gruppi di sviluppatori di tutto il mondo si sfidano sviluppando e deployando da zero una webapp scritta in Ruby on Rails. 
    %p 
      Per la prossima edizione tutti i programmers-in-padua sono ufficialmente invitati, e tramite il corso 
      %b Rails4Rumble 
      ci assicureremo che anche coloro che non conoscono questo framework possano partecipare e divertirsi.
    
    -#%p Ogni anno gli sviluppatori Rails di tutto il mondo si prendono un intero weekend di irreperibilità da mogli, clienti e famiglie. In piccoli gruppi si barricano in casa o in ufficio, qualcuno addirittura su una barca. In appena 48h e partendo da zero dovranno sviluppare e deployare una webapp completa. Quest&#39;anno programmers-in-padua vuole dare una casa tutta  pi&ugrave; cool di tutte
     

  .span5.offset1
    .media-grid
      %img.thumbnail{:src=>"https://maps.googleapis.com/maps/api/staticmap?center=Via+XX+Settembre,+63+Padova&zoom=15&size=275x198&maptype=roadmap&markers=color:blue|label:Here|Via+XX+Settembre+63+Padova&sensor=false"}/
 
  .span5
    %h2 Il corso
    %p 
      Abbiamo attivato 2 classi, una 
      %b base 
      e una 
      %b intermediate
      \. &Egrave; un&#39;occasione molto speciale per studiare una nuova (e richiestissima) tecnologia con l&#39;aiuto di un docente davvero in gamba. 
      = link_to raw("Il corso &raquo;"), courses_path, :class=>"btn small"   
    %p 
      Le lezioni si terranno presso
      %br/
      %b
        &ldquo;La forma del libro&rdquo;
      %br/ 
      %a{:href=>"http://g.co/maps/p34hb"} 
        Via XX Settembre, 63 Padova 
      %span.label.notice map
      
      
.row
  .span6
    %img.thumbnail{:src=>"/images/locandina.jpg"}
    
  .span5
    %h2 Locandina
    %p 
      Abbiamo preparato una fantastica locandina! Per favore scaricala, stampala e appendila in ufficio o dove fai lezione :)
      
    %p 
      %a.btn{:href=>"/images/rails4rumble.pdf"} Download
             